.nav-bar {
  position: relative;
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #f3f3f3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dash-header {
  display: flex;
  width: 20%;
  height: 10px;
}

.logo {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 40px;
  margin-top: 20px;
}

.title {
  margin: 20px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  margin-left: 78px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .nav-bar {
    width: 20%;
    height: 100vh;
    background-color: white;
  }

  .logo {
    margin-left: 25px;
    width: 25px;
    height: 25px;
  }

  .title {
    margin-left: 60px;
  }
}

@media (max-width: 320px) {
  .nav-bar {
    width: 15%;
    background-color: white;
  }

  .title {
    display: none;
  }

  .logo {
    margin-left: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}
