h2{
  font-size: 50px;
}

p{
font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background */
  color: #fff;
}

.form-content {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: 900px;
  max-width: 400px; /* Adjust the maximum width as needed */
  padding: 20px;
  background-color: #000; /* Black background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.input-container {
  margin-left: 60px;
  margin-right: 70px;
  margin-bottom: 20px;
}

input {
  font-size: 24px;
  width: 300px;
  padding: 10px;
  border: none;
  background-color: #ffffff; /* Dark blue background */
  color: #4e4e4e;
  border-radius: 5px;
}

button {
font-size: 23px;
  width: 200px;
  height: 50px;
  margin-left: 80px;
  padding: 10px;
  background-color: #0074cc; /* Bright blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00579b; /* Darker blue on hover */
}

.error {
  color: #ff6347; /* Red for error messages */
  margin-top: 5px;
}

.image-container {
  flex: 1;
 padding-left: 60px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

  /* Links */
  span {
    
    text-decoration: underline;
    cursor: pointer;
    color: #1e90ff;
  }

  