/* ForgotPassword.css */
.email-input {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    
    box-sizing: border-box;
  }

  /* button styling */
.reset{
margin-right: 1050px;
}

  
  
  